# Composer
/vendor/

# Laravel specific
/bootstrap/cache/
/storage/

# PHPUnit
/phpunit.xml
/phpunit.xml.dist
/tests/

# IDEs and editors
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/

/.env
